// @import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Sora", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// $primary: #317E24;
// $secondary: #0d4b03;

$primary: #2485c5;
$secondary: #036499;
$success: #00af00;
$danger: #e03b3b;
$warning: #ffc107;
$info: #7191e9;
$light: #F6F5F5;
$dark: #454545;

$black: #585858;
$white: #fdfdfd;